/* green color from https://www.spotify.com/us/ */

/*
Background image: http://pixabay.com/en/live-concert-concert-stage-people-455762/
More background images: http://pixabay.com/en/photos/?q=concert&image_type=&cat=&order=
*/

body {
	position: absolute;
	margin: 0;
	padding: 0;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url("img/live-concert-455762_1920_crop3_extend.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-color: rgb(33, 33, 33);
}

.mid {
	position: relative;
	max-width: 700px; /*43.75em*/
	min-width: 615px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 0, 0, .75);
	min-height: 100%;
}

h1 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0.63em;
	padding-bottom: 0.63em;
	color: #ffffff;
	text-align: center;
	font-size: 4.38em;
	font-family: "proxima_nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.midTable {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1.88em;
}

table.midTable th, td {
	padding: 0.63em;
	padding-right: 1em;
	padding-left: 1em;
}

.header {
	color: rgb(30,215,96);
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	font-family: "proxima_nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.userIdLinks {
	color: #ffffff;
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.75em;
	text-decoration: none;
}

.bottomDiv {
	text-align: center;
	padding-bottom: 7em;
}

.buttonDiv{
	padding-bottom: 0.6em;
}

.infoText{
	text-align: center;
	font-family: "proxima_nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
}

.bottomText {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-bottom: 0.4em;
	color: #ffffff;
	font-size: 0.75em;
	font-family: "proxima_nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#playlistName {
	width: 14.3em;
}

#selectGenre {
	width: 8.5em;
}

#maxSongsSpinner {
	width: 2.85em;
}

#userName {
	color: #ffffff;
}

#playlistButton {
	width: 60%;
}

#errorText{
	color: rgb(0,174,239);
}

#statusText{
	color: rgb(30,215,96);
}

#previousPlaylists{
	color: rgb(30,215,96);
}

#playlistUrl{
	color: rgb(30,215,96);
	text-decoration: none;
}

#spotifyLogo{
	padding-left: 1em;
}

#emailLink{
	text-decoration: none;
	color: #ffffff;
}

.jqueryText{
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.1em;
}

.ui-state-default {
	background: #000000;
}

button.ui-state-default {
	background: #ffffff;
}

.ui-state-active {
	background: #ffffff;
}

.ui-state-hover {
	background: #dadada;
}
